In [1]:
print("hello world!")

hello world!

In [2]:
!pip install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/c3/6c/ea362eef61f05553aaf1a24b3e96b2d0603f5dc71a3bd35688a24ed88843/pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8MB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading https://files.pythonhosted.org/packages/d5/fb/a79efcab32b8a1f1ddca7f35109a50e4a80d42ac1c9187ab46522b2407d7/tzdata-2023.3-py2.py3-none-any.whl (341kB)
Collecting pytz>=2020.1 (from pandas)
  Downloading https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl (502kB)
Collecting python-dateutil>=2.8.2 (from pandas)
  Using cached https://files.pythonhosted.org/packages/36/7a/87837f39d0296e723bb9b62bbb257d0355c7f6128853c78955f57342a56d/python_dateutil-2.8.2-py2.py3-none-any.whl
Collecting numpy>=1.20.3; python_version < "3.10" (from pandas)
  Downloading https://files.pythonhosted.org/packages/69/65/0d47953afa0ad569d12de5f65d964321c208492064c38fe3b0b9744f8d44/numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9MB)
Collecting six>=1.5 (from python-dateutil>=2.8.2->pandas)
  Using cached https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Installing collected packages: tzdata, pytz, six, python-dateutil, numpy, pandas

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\program files\\python38\\Lib\\site-packages\\tzdata'
Consider using the `--user` option or check the permissions.

WARNING: You are using pip version 19.2.3, however version 23.2.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
import pandas as pd

In [3]:
x='hello world'
print("The variable has the value:", x)

The variable has the value: hello world

In [4]:
x="Hello"

In [5]:
print(x)

Hello

In [6]:
#x="Hello world"
print(x)

Hello

In [ ]:
name_surname='kinalrokodua'

In [1]:
print(name_surname)

NameError: name 'name_surname' is not defined

In [2]:
t_boolean = True
print(type(t_boolean))
compute_boolean = 1 + 1 == 1
print(compute_boolean)

<class 'bool'>
False

In [3]:
t_integer = 12
print(type(t_integer))
compute_integer =40 + 6 - 2
print(compute_integer)

<class 'int'>
44

In [4]:
t_float = 12.58
print(type(t float))
compute_float = 1.5 + 10.7 + 4.9
print(compute_float)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (340102689.py, line 2)

In [5]:
t_string = 'Hello'
print(type(t_string))
compute_string= '400' + '4' + ' Error'
print(compute_string)

<class 'str'>
4004 Error

In [8]:
t_list=['Chapter', 1, 'This", "Is, a', 'list', 'of', 'strings", "."]
print(t_list)

SyntaxError: unterminated string literal (detected at line 1) (1380225058.py, line 1)

In [11]:
t_dictionary=['Peugeot': 306, "Mercedes-Benz": "C220", "Audi": "A4"]
print(t_list)

SyntaxError: invalid syntax (6821376.py, line 1)

In [12]:
cartes = ['Infinite', 'Platinium', 'Gold', 'Classic']
for carte in cartes:
    print(carte)

Infinite
Platinium
Gold
Classic

In [16]:
montant_compte = 50 
if montant_compte < -500:
    print("Compte en contentieux")
elif montant_compte < 0:
    print("Compte débiteur")
else: 
    print('Compte créditeur")

SyntaxError: unterminated string literal (detected at line 7) (2803137286.py, line 7)

In [ ]:
def check_account_statut (montant_compte):
    if montant_compte < -500: 
        statut='Compte en contentieux'
    elif montant_compte < 0:
        statut="Compte débiteur"
    else:
        statut='Compte créditeur'
    return statut

In [17]:
import pandas as pd
import os
import glob

In [19]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }

SyntaxError: incomplete input (1546696051.py, line 41)

In [20]:
nasdaq_top_companies = [
    {
        "Ticker": "AAPL",
        "Company": "Apple Inc.",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 150.00,
        "Description": "Share price for Apple Inc. in September 2021"
    },
    {
        "Ticker": "MSFT",
        "Company": "Microsoft Corporation",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 300.00,
        "Description": "Share price for Microsoft Corporation in September 2021"
    },
    {
        "Ticker": "AMZN",
        "Company": "Amazon.com Inc.",
        "Industry": "E-commerce",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 3400.00,
        "Description": "Share price for Amazon.com Inc. in September 2021"
    },
    {
        "Ticker": "GOOGL",
        "Company": "Alphabet Inc. (Google)",
        "Industry": "Technology",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 2700.00,
        "Description": "Share price for Alphabet Inc. in September 2021"
    },
    {
        "Ticker": "FB",
        "Company": "Meta Platforms, Inc. (Facebook)",
        "Industry": "Social Media",
        "Market Cap": "Trillion Dollars",
        "Share_Price": 330.00,
        "Description": "Share price for Meta Platforms, Inc. in September 2021"
    }
]
# Load dict to DataFrame
df_nasdaq=pd.DataFrame(nasdaq_top_companies)

In [21]:
os.mkdir(r'./MARKET_DATA/')

In [22]:
def CreateCsvFile(df, PrefixName: str):
    '''
    The function CreateCsvFile enables to create multiple csv files by tickers 
    from a dataframe and a prefix as the filename.
    '''
    for line, ticker in zip(df['Ticker'], df['Ticker']):
        pathName = r'./MARKET_DATA/'+ str(PrefixName) +str(ticker)+'.csv'
        df[df['Ticker']==line].to_csv(pathName, index=False)
    return None

In [26]:
cac40_data = [
    {
        "Ticker": "AC",
        "Company": "Accor",
        "Share_Price": 35.60
    },
    {
        "Ticker": "AI",
        "Company": "Air Liquide",
        "Share_Price": 147.80
    },
    {
        "Ticker": "MT",
        "Company": "ArcelorMittal",
        "Share_Price": 28.90
    },
    {
        "Ticker": "BNP",
        "Company": "BNP Paribas",
        "Share_Price": 53.20
    },
    {
        "Ticker": "CAP",
        "Company": "Capgemini",
        "Share_Price": 140.45
    },
]
# Load dict to DataFrame
cac40_data=pd.DataFrame(cac40_data)

In [ ]:
CreateCsvFile(df_nasdaq, 'NASDAQ_')
CreateCsvFile(cac40_data, 'CAC40_')

In [28]:
# Assign the folder to parse
pathFolder = r'.\MARKET_DATA'
# Parse the folder
walkFolder = [path[0] for path in os.walk (pathFolder)]
# Initialize list
listOfFile = []
# Loop on the folder
for folder in walkFolder:
    # Assign folder path
    folderName = os.path.basename(folder)
    # Assign folder path joined to a file type searched
    files = os.path.join(folder, 'NASDAQ_*.csv')
    # Store the file path matching the file type searched
    listOfFile = glob.glob(files)

In [29]:
listOfFile

['.\\MARKET_DATA\\NASDAQ_AAPL.csv',
 '.\\MARKET_DATA\\NASDAQ_AMZN.csv',
 '.\\MARKET_DATA\\NASDAQ_FB.csv',
 '.\\MARKET_DATA\\NASDAQ_GOOGL.csv',
 '.\\MARKET_DATA\\NASDAQ_MSFT.csv']

In [30]:
# Initialize list
full_list = []
# Loop on all files
for file in listOfFile:
    # Import data to a Dataframe
    full_file = pd.read_csv(file, dtype = str).reset_index(drop = True)
    # Assign the file path to the file_name columns
    full_file['file_name']=os.path.basename(file)
    # Append the DataFrame to the list initialized
    full_list.append(full_file)
# Merge the list of DataFrames to a single DataFrame
fileConcat = pd.concat(full_list)

In [31]:
fileConcat

,Ticker,Company,Industry,Market Cap,Share_Price,Description,file_name
0,AAPL,Apple Inc.,Technology,Trillion Dollars,150.0,Share price for Apple Inc. in September 2021,NASDAQ_AAPL.csv
0,AMZN,Amazon.com Inc.,E-commerce,Trillion Dollars,3400.0,Share price for Amazon.com Inc. in September 2021,NASDAQ_AMZN.csv
0,FB,"Meta Platforms, Inc. (Facebook)",Social Media,Trillion Dollars,330.0,"Share price for Meta Platforms, Inc. in Septem...",NASDAQ_FB.csv
0,GOOGL,Alphabet Inc. (Google),Technology,Trillion Dollars,2700.0,Share price for Alphabet Inc. in September 2021,NASDAQ_GOOGL.csv
0,MSFT,Microsoft Corporation,Technology,Trillion Dollars,300.0,Share price for Microsoft Corporation in Septe...,NASDAQ_MSFT.csv